.product {
  width: 100%;
  margin: auto;
  max-width: 400px;
  background: #ffffff;
}
.product_nav {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
